<!-- Exercice Communication et style -->
<!-- {{title}}
<app-hello-world></app-hello-world>
<app-parent></app-parent> -->

<!-- USE ng-content -->
<!-- <app-child-ng-content>
    <h3 question>What do you think about ng-content?</h3>
    <p answer>Ng-content is cool!</p>
</app-child-ng-content> -->

<!-- UPDATE CLASS PROPS USING A TEMPLATE STATEMENT  -->
<!-- version 1 simple click button montrant le statut du props -->
<!-- <button (click)="toggleText()">Toggle text</button> -->
<!-- text proporieties -->
<!-- {{showText}} -->
<!-- version 2 -->
<!-- <button (click)="toggleText($event)">Toggle text</button> -->
<!-- text proporieties -->
<!-- {{showText}} -->

<!-- //USE PIPES -->
<!-- affichage objet date -->
{{todaysDate | date}}