<!-- COMMUNICATION entre composant  -->
<!-- Say {{childMessage}}
<button (click)="sendMessage()">Send message </button> -->

<!-- STYLE A COMPONENT -->
<h2>Hello my friend!</h2>
<!-- Way two integret style directly in html -->
<style>
   h3{
      color: orange;
   }
</style>
<h3>Hello my best friend!</h3>
<!-- or use a external style sheet -->
<!-- Bien mettre le style dans assets car faut un element qui sera copier lors de la création du serveur -->
<!-- <link rel="stylesheet" href="/assets/external-style.css"/> -->
<h4>Many ways for one thing</h4>